.panel {
    position: absolute;
    max-width: 100%;
    width: 400px;
    top: 2%;
    bottom: 2%;
    margin: 0;
    left: calc(50vw - 200px);
}

.panel-body {
    padding: 10px;
}

.chats {
    padding: 20px 5px 25px;
}

.chat-body {
    margin-right: 0;
}

.chat-content {
    margin-right: 5px;
    min-width: 70%;
}

.chat-left .chat-body {
    margin-left: 0;
}

.chat-left .chat-content {
    margin-left: 5px;
}

.chat-box {
    height: calc(100vh - 165px);
    overflow: auto;
    transition: all ease .3s;
}

.panel-footer {
    padding-right: 10px;
    padding-left: 10px;
}

.init .chat-box {
    height: calc(15vh - 100px);
}

#chat{
    transition: all ease .3s;
}

.init #chat{
    display: none;
}

#contact{
    display: none;
    transition: all ease .3s;
}

.init #contact{
    display: block;
}

.alert {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.init .alert {
    display: none;
}

.chat .chat-body .chat-content .loading-text{
    display: none;
    font-size: 40px;
    line-height: 0;
}

.chat.loading .chat-body .chat-content > *{
    display: none;
}

.chat.loading .chat-body .chat-content .loading-text{
    display: inline-block;
}

.panel-heading{
    position: relative;
}

.volume-audio{
    position: absolute;
    font-size: 25px;
    right: 15px;
    top: 5px;
    color: #FFF !important;
    cursor: pointer;
}

.volume-audio.off .md-volume-up{
    display: inline-block;
}

.volume-audio .md-volume-off{
    display: none;
}

.volume-audio.off .md-volume-up{
    display: none;
}

.volume-audio.off .md-volume-off{
    display: inline-block;
}

.reply-block{
    margin-top: -32px;
    z-index: 1;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 0;
    display: none;
    text-align: center;
    overflow: auto;
}

.reply-block::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 5px;
}

.reply-block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.reply-block::-webkit-scrollbar-thumb {
    background-color: #00bcd4;
    outline: 1px solid slategrey;
}

.reply-block > .reply-container{
    min-width: 100%;
}

.reply-block.show{
    display: block;
}

.reply-block a{
    display: inline-block;
    margin: 0 3px;
}

@media (max-width: 768px) {
    .panel {
        width: 96%;
        left: 2%;
        right: 2%;
        min-width: 320px;
    }
}
